html(lang='en')
	head
		// /********************* META *********************/ 
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(http-equiv='language', content='EN')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		title MOVON

		// /********************* STYLES *********************/ 
		link(rel='stylesheet', href='css/_lib/hover-min.css')
		link(rel='stylesheet', href='css/_lib/animate.min.css')
		link(rel='stylesheet', href='css/_lib/font-awesome.min.css')
		link(rel='stylesheet', href='css/main.css')

		// /****************** =STYLES END= ******************/ 

		// /********************* jQuery *********************/ 
		script(src='(JS)EcmaScript/_lib/jquery-3.1.1.min.js')


		include include/header
		include include/statistics
		include include/skimmers
		include include/your_belt
		include include/details
		include include/review
		include include/footer

		// /********************* SCRIPTS *********************/ 
		script(src='(JS)EcmaScript/_lib/bootstrap.min.js')
		script(src='(JS)EcmaScript/_lib/wow.js')
		script(src='(JS)EcmaScript/main.js')
		// /****************** =SCRIPTS END= ******************/ 