// **************** DETAILS SECTION *********************
section.details
	.container
		.row.wow.zoomIn(data-wow-delay="0.3s", data-wow-duration="0.7s", data-wow-offset="200")
			.col-md-12
				h1 DETAILS
				h2 One more time about your belt
		.row.details-gird.wow.fadeIn(data-wow-delay="0.7s", data-wow-duration="0.9s", data-wow-offset="200")
			.col-md-3.col-sm-6.col-xs-6.col-xxs-12
				a.item.hvr-shrink
					img(src="images/details/1.png", alt="")
					.description What does the belt look like
			.col-md-3.col-sm-6.col-xs-6.col-xxs-12
				a.item.hvr-shrink
					img(src="images/details/2.png", alt="")
					.description RFID protect
			.col-md-3.col-sm-6.col-xs-6.col-xxs-12
				a.item.hvr-shrink
					img(src="images/details/3.png", alt="")
					.description High Quality fittings
			.col-md-3.col-sm-6.col-xs-6.col-xxs-12
				a.item.hvr-shrink
					img(src="images/details/4.png", alt="")
					.description How to wear a belt
		.row.wow.flipInX(data-wow-delay="0.8s", data-wow-duration="0.7s", data-wow-offset="100")
			.col-md-12.text-center
				button.btn.btn-default.hvr-grow-shadow BUY YOUR BELT NOW
// ************* =DETAILS SECTION END= ****************** 