// **************** FOOTER SECTION *********************
footer
	.container
		.row
			.col-md-12.text-center
				a(href="#").logo
					img(src="img/logo_footer.png", alt="")
// ************* =FOOTER SECTION END= ******************