// **************** REVIEW SECTION *********************
section.review
	.container
		.row.wow.zoomIn(data-wow-delay="0.3s", data-wow-duration="0.7s", data-wow-offset="250")
			.col-md-12
				h1 REVIEW
				h2 Travel customers review
		.row.dialog.wow.fadeIn(data-wow-delay="0.7s", data-wow-duration="0.7s", data-wow-offset="200")
			.col-md-10.col-md-offset-1
				.item
					.title-block
						span.stars-wrapper
							i.icon-star
							i.icon-star
							i.icon-star
						h4 Really great product! I purchased 6 of these for a
					.description-block by John Smith on February 10, 2016
					p.text-block.
						Really great product! I purchased 6 of these for a family vacation. I did not realize the first 2 I ordered did not have the RFID protection. When I ordered the additional 4, I made sure they had the RFID protection. (you have the option to choose this when ordering.) Either way, The belt is sturdy, fits very nicely under clothing, and flat against your waist. I carried money, my passport, and my i7, and it was still comfortable and roomy. The protective sleeves on the other hand are a little too small for cards, and the passports did not fit at all. My purchase decision was made for the money belt itself though, not the extra sleeves, so I am very happy with my purchase!
				.item
					.title-block
						span.stars-wrapper
							i.icon-star
							i.icon-star
							i.icon-star
							i.icon-star 
							i.icon-star
						h4 Thrilled with my purchase.
					.description-block by John Smith on February 10, 2016
					p.text-block.
						This is amazing. I work at a retail store and wear an Apple Watch. I need my phone with me for the internet access. Without pants pockets there was no place to put it. Leaving it on the cash register is NOT an option. I totally was against a "fanny pack" but watched the video of the woman putting it on and realized it really was a wearable wallet. Super thin. Perfect for cards and a phone. I wear it under my shirt but over an undershirt to keep comfortable. Nobody knows it's there and that's what I wanted. No tourist looking "fanny bag" here. Best thing ever!!!!!!!
		.row.wow.flipInX(data-wow-delay="0.3s", data-wow-duration="0.7s", data-wow-offset="200")
			.col-md-12.text-center
				button.btn.btn-default.hvr-grow-shadow BEST DEALS ONLY 48 HOURS
// ************* =REVIEW SECTION END= ******************