// **************** STATISTICS SECTION ********************* 
section.statistics
	.container
		.row.wow.zoomIn(data-wow-delay="0.3s", data-wow-duration="0.7s", data-wow-offset="200")
			.col-md-12
				h1 STATISTICS
				h2 Protect your money from the skimmers
		.row.wow.fadeIn(data-wow-delay="0.3s", data-wow-duration="1.7s", data-wow-offset="150")
			.col-md-3.col-sm-3.col-xs-4.col-xxs-12.col-md-offset-1.col-sm-offset-1.text-center
				.wrapp.first
					.circle-icon
						img(src="images/icon/statistics/statistics_1.png", alt="worldwide_icon")
					.description
						h4.price $21.84 billion
						.clearfix
						span worldwide found losses
			.col-md-4.col-sm-4.col-xs-4.col-xxs-12.text-center
				.wrapp
					.circle-icon
						img(src="images/icon/statistics/statistics_2.png", alt="protected _icon")
					.description
						h4.price $31.67 billion
						.clearfix
						span protected worldwide losses in 2020
			.col-md-3.col-sm-3.col-xs-4.col-xxs-12.text-center
				.wrapp.last
					.circle-icon
						img(src="images/icon/statistics/statistics_3.png", alt="portion_icon")
					.description
						h4.price 38.7% U.S.
						.clearfix
						span portion of worldwide losses
		.row.wow.flipInX(data-wow-delay="0.3s", data-wow-duration="1.7s", data-wow-offset="100")
			.col-md-12.text-center
				button.btn.btn-default.hvr-grow-shadow PROTECT YOUR MONEY IN TRAVEL

// ************* =STATISTICS SECTION END= ****************** 