// **************** YOUR BELT SECTION ********************* 
section.your-belt
	.container
		.row.wow.zoomIn(data-wow-delay="0.3s", data-wow-duration="0.7s", data-wow-offset="200")
			.col-md-12
				h1 YOUR BELT
				h2 How is RFID Belt protect your money?
		.row.flex
			.col-md-4.col-sm-12.wow.fadeIn(data-wow-delay="1.2s", data-wow-duration="0.7s", data-wow-offset="200")
				div.wrap
					i.icon.icon_1
					.item
						h4 Fabric content formula
						span 23% copper, 27% nickel, 50% polyester
				.clearfix
				div.wrap
					i.icon.icon_2
					.item
						h4 Blocking frequency range
						span 23% copper, 27% nickel, 50% polyester
				.clearfix
			.col-md-4.col-sm-12.text-center.center-block.wow.fadeIn(data-wow-delay="0.7s", data-wow-duration="0.7s", data-wow-offset="200")
				img(src="images/bag.png", alt="")
			.col-md-4.col-sm-12.wow.fadeIn(data-wow-delay="1.2s", data-wow-duration="0.7s", data-wow-offset="200")
				div.wrap
					i.icon.icon_3
					.item
						h4 Fabric content formula
						span 23% copper, 27% nickel, 50% polyester
				.clearfix
				div.wrap
					i.icon.icon_4
					.item
						h4 Blocking frequency range
						span 23% copper, 27% nickel, 50% polyester
				.clearfix
// ************* =YOUR BELT SECTION END= ****************** 