/* ---------------FONTS---------------- */
/* ------------------------------------ */
@font-face {
	font-family: 'HELV-BLACK';
	src: url('../fonts/HELVETICANEUECYR-BLACKHELVETICANEUECYR-BLACK.eot');
	src: local('☺'), url('../fonts/HELVETICANEUECYR-BLACKHELVETICANEUECYR-BLACK.woff') format('woff'), url('../fonts/HELVETICANEUECYR-BLACKHELVETICANEUECYR-BLACK.ttf') format('truetype'), url('../fonts/HELVETICANEUECYR-BLACKHELVETICANEUECYR-BLACK.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HELV-BLACKITALIC';
	src: url('fonts/HELVETICANEUECYR-BLACKITALIC.eot');
	src: local('☺'), url('../fonts/HELVETICANEUECYR-BLACKITALIC/HELVETICANEUECYR-BLACKITALIC.woff') format('woff'), url('../fonts/HELVETICANEUECYR-BLACKITALIC/HELVETICANEUECYR-BLACKITALIC.ttf') format('truetype'), url('../fonts/HELVETICANEUECYR-BLACKITALIC/HELVETICANEUECYR-BLACKITALIC.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HELV-BOLD';
	src: url('../fonts/HELVETICANEUECYR-BOLD/HELVETICANEUECYR-BOLD.eot');
	src: local('☺'), url('../fonts/HELVETICANEUECYR-BOLD/HELVETICANEUECYR-BOLD.woff') format('woff'), url('../fonts/HELVETICANEUECYR-BOLD/HELVETICANEUECYR-BOLD.ttf') format('truetype'), url('../fonts/HELVETICANEUECYR-BOLD/HELVETICANEUECYR-BOLD.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HELV-BOLDITALIC';
	src: url('../fonts/HELVETICANEUECYR-BOLDITALIC/HELVETICANEUECYR-BOLDITALIC.eot');
	src: local('☺'), url('../fonts/HELVETICANEUECYR-BOLDITALIC/HELVETICANEUECYR-BOLDITALIC.woff') format('woff'), url('../fonts/HELVETICANEUECYR-BOLDITALIC/HELVETICANEUECYR-BOLDITALIC.ttf') format('truetype'), url('../fonts/HELVETICANEUECYR-BOLDITALIC/HELVETICANEUECYR-BOLDITALIC.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HELV-ULTRALIGHTITALIC';
	src: url('../fonts/HELVETICANEUECYR-ULTRALIGHTITALIC/HELVETICANEUECYR-ULTRALIGHTITALIC.eot');
	src: local('☺'), url('../fonts/HELVETICANEUECYR-ULTRALIGHTITALIC/HELVETICANEUECYR-ULTRALIGHTITALIC.woff') format('woff'), url('../fonts/HELVETICANEUECYR-ULTRALIGHTITALIC/HELVETICANEUECYR-ULTRALIGHTITALIC.ttf') format('truetype'), url('../fonts/HELVETICANEUECYR-ULTRALIGHTITALIC/HELVETICANEUECYR-ULTRALIGHTITALIC.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HELV-ROMAN';
	src: url('../fonts/HELVETICANEUECYR-ROMAN/HELVETICANEUECYR-ROMAN.eot');
	src: local('☺'), url('../fonts/HELVETICANEUECYR-ROMAN/HELVETICANEUECYR-ROMAN.woff') format('woff'), url('../fonts/HELVETICANEUECYR-ROMAN/HELVETICANEUECYR-ROMAN.ttf') format('truetype'), url('../fonts/HELVETICANEUECYR-ROMAN/HELVETICANEUECYR-ROMAN.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HELV-LIGHT';
	src: url('../fonts/HELVETICANEUECYR-LIGHT/HELVETICANEUECYR-LIGHT.eot');
	src: local('☺'), url('../fonts/HELVETICANEUECYR-LIGHT/HELVETICANEUECYR-LIGHT.woff') format('woff'), url('../fonts/HELVETICANEUECYR-LIGHT/HELVETICANEUECYR-LIGHT.ttf') format('truetype'), url('../fonts/HELVETICANEUECYR-LIGHT/HELVETICANEUECYR-LIGHT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* ------------------------------------ */
/* ------------*FONTS END*------------- */